
h1 {
    text-align: center;
    color:  goldenrod;
    border-style: groove;
    background-color: darkblue;


}

h4 {
text-align: center;
   color: #daa520;
   border-style: groove;
   background-color: darkblue;
}




button {
    color: goldenrod;
    border-style: groove;
    border-color: #daa520;
    background-color: darkblue;
}

label{
    color: goldenrod;
    border-style: groove;
    border-color: #daa520;
    background-color: darkblue;
   }

   #userInput{

    border-style: groove;
    border-color: #daa520;

  }

  #answer{
    text-align: center;
}

#score{
    text-align: center;
}

#question{
    text-align: center;

}

#section-100-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}
#section-200-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}
#section-400-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#section-600-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#section-800-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

    




    

    






   
   


    
    

